<table width="100%" class="login">
    <tr>
        <td>Host</td>
        <td><input type="text" id="login-host"/></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input type="text" id="login-username"/></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" id="login-password"/></td>
    </tr>
</table>